<%= render 'layouts/body', user: current_user, book: Book.new %>
    <div class="col-md-8 offset-md-1">
      <h2>Users</h2>
      <table class="table">
        <thead>
          <tr>
            <th>image</th>
            <th>name</th>
            <th></th>
            <th></th>
            <th></th>
            <th colspan="3"></th>
          </tr>
        </thead>
        <tbody>
          <% @users.each do |user| %>
          <tr>
            <td>
              <%= attachment_image_tag user, :profile_image, :fill, 40, 40, format: 'jpeg', fallback: "no_image.jpg" %>
            </td>
            <td>
              <%= user.name %>
            </td>
            <!--follow機能-->
            <td>
              フォロー数：<%= user.followings.count %>
            </td>
            <td>
              フォロワー数：<%= user.followers.count %>
            </td>
            <!--follow button-->
            <td>
                <% if user_signed_in? && user != current_user%>
                  <div id=<%= "follow_form" +  user.id.to_s %>>
                  <% if current_user.followings?(user) %>
                    <%= render "follow_relationships/unfollow", user: user %>
                  <% else %>
                    <%= render "follow_relationships/follow", user: user %>
                  <% end %>
                  </div>
                <% end %>
            </td>
            <td>
               <%= link_to "Show", user_path(user) %>
            </td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
</main>





<footer>
  <div class="container mt-5">
    <div class="row">
      <div class="mx-auto">
        <p>CopyRight Infratop.inc</p>
      </div>
    </div>
  </div>
</footer>