<%= render 'layouts/body' %>

<!--Books-->
<h1>Books</h1>
<% @books.each do |book| %>
  <p>title：<%= book.title %></p>
  <p>body：<%= book.body %></p>
  <p>ユーザーネーム：<%= book.user.name %></p>
<% end %>
<%= paginate @books %>