<!--User info-->
<div class="profile-container">
  <h3 class="profile-name"><%= @user.name %></h3>
  <!--以下プロフィール画像をマイページに反映させる（５章-->
  <%= attachment_image_tag @user, :profile_image, :fill, 100, 100, format: 'jpeg', fallback: "no_image.jpg" %>
 <% if @user.id == current_user.id %>
    <p><%= link_to "プロフィール編集", edit_user_path(@user) %></p>
  <% end %>
</div>
<% @books.each do |book| %>
  <p>title：<%= book.title %></p>
  <p>body：<%= book.body %></p>
  <p>ユーザーネーム：<%= book.user.name %></p>
<% end %>
</div>

<!--New book-->

<!--Books-->
<div class="post-body">
  <p>title：<%= @book.title %></p>
  <p>body：<%= @book.body %></p>
  <p>ユーザーネーム：<%= @book.user.name %></p>
  <p>投稿日時：<%= @book.created_at.strftime('%Y/%m/%d') %></p>
  <% if @book.user == current_user %>
    <%= link_to "削除", book_path(@book), method: :delete %>
  <% end %>
</div>